# Importing Libraries

In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [5]:
path = r'C:\Users\drbar\Documents\Career Foundry\Projects\04 - 25 Instacart Basket Analysis'

In [7]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [9]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [11]:
df_prods.shape

(49693, 5)

In [13]:
df_ords.shape

(3421083, 7)

# 4.5 Data Consistency Checks

## Mixed-Type Data

In [15]:
# Create a dataframe
df_test = pd.DataFrame()

In [17]:
#Create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [19]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [21]:
# Check for mixed types
for col in df_test.columns.tolist():
    weird = (df_test[[col]].applymap(type) !=df_test[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_test[weird]) > 0:
        print (col)

mix

C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\155300514.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) !=df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [23]:
# Converting data type of the mix column
df_test['mix'] = df_test['mix'].astype('str')

# Missing Values

In [26]:
# Checking for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [28]:
# Creating a subset for null values in product name
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [30]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [32]:
#Checking the size of the dataframe before removing missing values
df_prods.shape

(49693, 5)

In [34]:
#Creating a new dataframe without missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [36]:
#Checking the size of the cleaned dataframe
df_prods_clean.shape

(49677, 5)

# Duplicates

In [39]:
# Creating a subframe for duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [41]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [43]:
# Checking the size of our dataframe before removing duplicates
df_prods_clean.shape

(49677, 5)

In [45]:
# Creating a subset without duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [47]:
# Checking the size of our no duplicate subset
df_prods_clean_no_dups.shape

(49672, 5)

In [49]:
 df_prods_clean_no_dups.to_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'))

# Exercise

## 2.

In [53]:
# Checking the orders dataframe
# Upon first loading this dataframe, there was an unnamed column which was the index column.
# I went back into 4.4 and input , index = False at the end to remove this column
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### The top 75% of order numbers is 23 while the max is 100, this is a very large difference and worth looking into.
### I find it odd that the max order day of the week is 6, is this particular store closed 1 day a week?

# 3.

In [57]:
# Checking for mixed Data
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print (col)

C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\633796213.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) !=df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [58]:
df_ords.dtypes

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

# 4.

## There is no mixed data found within the orders dataframe.

In [61]:
# Creating a subset so I don't make a mistake in the main dataframe
df_ords_sorted = df_ords

In [62]:
# There is no mixed data
for col in df_ords_sorted.columns.tolist():
    weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords_sorted[weird]) > 0:
        print (col)

C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\drbar\AppData\Local\Temp\ipykernel_7736\1490568493.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_sorted[[col]].applymap(type) !=df_ords_sorted[[col]].iloc[0].apply(type)).any(axis = 1)

## 5.

## There are 206209 values missing from days_since_prior_order.
## This is the same number of users active in the database, meaning that these missing values are most likely the first order from each user.

In [68]:
# Checking for missing values
df_ords_sorted.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [69]:
# I wanted to see how many unique values existed for user_id within the dataframe so I found a code to do so
df_ords_sorted['user_id'].nunique()

206209

# 6.

# The missing values will be left untouched as they serve a purpose in the dataset.

# 7.

## There were no duplicate enteries found within the orders dataframe.

In [74]:
df_ords_sorted_dupes = df_ords_sorted[df_ords_sorted.duplicated()]

In [75]:
df_ords_sorted_dupes

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

# 8.

## There are no duplicates to be found within the dataframe, though if there were we would use df_ords_sorted_no_dupes = df_ords_sorted.drop_duplicates() to remove them.

# 9.

In [97]:
df_ords_sorted.shape

(3421083, 7)

In [101]:
df_prods_clean_no_dups.shape

(49672, 5)

In [82]:
df_ords_sorted.to_csv(os.path.join(path,'02 Data','Prepared Data','orders_wrangled_checked.csv'))

In [83]:
 df_prods_clean_no_dups.to_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'))