# Importing Libraries

In [211]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [214]:
path = r'C:\Users\drbar\Documents\Career Foundry\Projects\04 - 25 Instacart Basket Analysis'

In [216]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [217]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,7.0,7.0,0.0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,1.0,3.0,1.0,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,7.0,4.0,1.0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,30.0,2.0,0.0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,NaN,30.0,0.0,both

## If- Statements with User-Defined Functions

In [219]:
# Creating a subset
df = ords_prods_merge[:1000000]

In [220]:
df.shape

(1000000, 14)

In [221]:
# Creating a price label flag
def price_label(row):

    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [222]:
# Applying flag to the subset
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\drbar\AppData\Local\Temp\ipykernel_8176\2953225341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [223]:
# Checking value counts
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [224]:
df['prices'].max()

24.5

## If-Statements with loc() Function

In [231]:
# Creating a flag with loc() Function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

C:\Users\drbar\AppData\Local\Temp\ipykernel_8176\2853345448.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

In [232]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [233]:
df.loc[df['prices'] < 5, 'price_range_loc'] = 'Low range product'

In [234]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     652638
Low range product     335327
High range product      9344
NaN                     2691
Name: count, dtype: int64

In [235]:
# Applying flag to the original dataframe
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High range product'

In [236]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [237]:
ords_prods_merge.loc[ords_prods_merge['prices'] < 5, 'price_range_loc'] = 'Low range product'

## If-Statements with For-Loops

In [239]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [240]:
# Creating a flag to note the historic average volume of the day of week
result = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regular busy")

In [274]:
# Printing the result
result [:10]

['Busiest',
 'Busiest',
 'Busiest',
 'Regular busy',
 'Busiest',
 'Regular busy',
 'Busiest',
 'Regular busy',
 'Regular busy',
 'Least busy']

# Exercise

## 2.

In [244]:
# Checking the volume for each day of the week
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [245]:
# Creating a flag to note the busiest and slowest days of the week
result = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value in [0,1]:
        result.append("Busiest")
    elif value in [3,4]:
        result.append("Least busy")
    else:
        result.append("Regular busy")

In [246]:
ords_prods_merge['busiest_days'] = result

## 3.

In [278]:
# Checking the result
result[:10]

['Busiest',
 'Busiest',
 'Busiest',
 'Regular busy',
 'Busiest',
 'Regular busy',
 'Busiest',
 'Regular busy',
 'Regular busy',
 'Least busy']

In [249]:
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,7.0,7.0,0.0,both,Mid range product,Busiest
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,1.0,3.0,1.0,both,Mid range product,Busiest
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,7.0,4.0,1.0,both,Mid range product,Busiest
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,30.0,2.0,0.0,both,Mid range product,Regular busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,NaN,30.0,0.0,both,Mid range product,Busiest
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,108919,46,5,16,8.0,5.0,1.0,both,Mid range product,Regular busy
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,63782,4,1,14,14.0,1.0,1.0,both,Mid range product,Busiest
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,170451,5,5,18,24.0,4.0,0.0,both,Mid range product,Regular busy
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,106854,28,5,10,6.0,3.0,1.0,both,Mid range product,Regular busy
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,181127,10,4,17,9.0,4.0,1.0,both,Mid range product,Least busy

### The values returned by the flag seem to be accurate. Adding the busiest_days column was successful

## 4.

In [252]:
# Checking the volume of orders each hour of day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [297]:
# Creating a flag to notate the number of orders recieved per 8hr period
result_hours = []

for value in ords_prods_merge["order_hour_of_day"].head:
    if value in [9,10,11,12,13,14,15,16]:
        result.append("Most orders")
    elif value in [0,1,2,3,4,5,6,23]:
        result.append("Fewest orders")
    else:
        result.append("Average orders")

In [309]:
# Printing the results
# Results not showing as expected, must debug
result_hours[:10]

[]

In [311]:
# Checking consistency of datatypes
ords_prods_merge.dtypes

product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
add_to_cart_order          float64
reordered                  float64
_merge                    category
price_range_loc             object
busiest_days                object
dtype: object

In [313]:
# Checking to see the column is populated
len(ords_prods_merge["order_hour_of_day"])

32404859

In [315]:
# Checking head
ords_prods_merge["order_hour_of_day"].head(10)

0    11
1    14
2    14
3    10
4    15
5    16
6    14
7    18
8    10
9    17
Name: order_hour_of_day, dtype: int64

In [317]:
# Testing the code on a smaller 100 row subset
result_hours_test = []

for value in ords_prods_merge["order_hour_of_day"].head(100):
    if value in [9,10,11,12,13,14,15,16]:
        result_hours_test.append("Most orders")
    elif value in [0,1,2,3,4,5,6,23]:
        result_hours_test.append("Fewest orders")
    else:
        result_hours_test.append("Average orders")

In [319]:
# Results are successful
print(result_hours_test[:10])

['Most orders', 'Most orders', 'Most orders', 'Most orders', 'Most orders', 'Most orders', 'Most orders', 'Average orders', 'Most orders', 'Average orders']

In [327]:
# Using loc() function to make the column
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].between(9, 16), 'hourly_order_flag'] = 'Most orders'

In [328]:
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin([23, 0, 1, 2, 3, 4, 5, 6]), 'hourly_order_flag'] = 'Fewest orders'

In [330]:
ords_prods_merge.loc[ords_prods_merge['hourly_order_flag'].isna(),'hourly_order_flag'] = 'Average orders'

In [333]:
# Checking the head of order_hour_of_day and hourly_order_flag to see if the loc() function was successful
ords_prods_merge[['order_hour_of_day','hourly_order_flag']].head(10)

   order_hour_of_day hourly_order_flag
0                 11       Most orders
1                 14       Most orders
2                 14       Most orders
3                 10       Most orders
4                 15       Most orders
5                 16       Most orders
6                 14       Most orders
7                 18    Average orders
8                 10       Most orders
9                 17    Average orders

## 5.

In [340]:
# Checking frequency of the new column
ords_prods_merge['hourly_order_flag'].value_counts(dropna=False)

hourly_order_flag
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [342]:
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,hourly_order_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,7.0,7.0,0.0,both,Mid range product,Busiest,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,1.0,3.0,1.0,both,Mid range product,Busiest,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,7.0,4.0,1.0,both,Mid range product,Busiest,Most orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,30.0,2.0,0.0,both,Mid range product,Regular busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,NaN,30.0,0.0,both,Mid range product,Busiest,Most orders
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,108919,46,5,16,8.0,5.0,1.0,both,Mid range product,Regular busy,Most orders
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,63782,4,1,14,14.0,1.0,1.0,both,Mid range product,Busiest,Most orders
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,170451,5,5,18,24.0,4.0,0.0,both,Mid range product,Regular busy,Average orders
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,106854,28,5,10,6.0,3.0,1.0,both,Mid range product,Regular busy,Most orders
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,181127,10,4,17,9.0,4.0,1.0,both,Mid range product,Least busy,Average orders

## 7.

In [345]:
# Exporting merged dataframe
ords_prods_merge.to_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'ords_prods_derived_variables.pkl'))